<h1>My Crates</h1>
<%= current_user.farmer.bio%>
<% if @my_crates.any? %>
  <ul>
    <% @my_crates.each do |crate| %>
      <li><%= crate.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have no crates yet.</p>
<% end %>
