.map-and-contents {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;

}

.main-listing-container {
  width: 30%;
  max-height: 1000px; /* Match the map height */
  overflow-y: auto;
  padding: 10px;
}

.contents-list {
  max-height: 1000px; /* Ensure scrolling applies */
  overflow-y: auto;
  padding: 5px; /* Add padding inside */
  // background: #fff; /* White background */
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */

  // /* Add spacing between cards */
  // display: flex;
  // flex-direction: column;
  gap: 15px; /* Space between cards */
}

.card-body {
  border: 2px solid #ccc; /* Add a border to each card */
  border-radius: 10px; /* Rounded corners for a softer look */
  padding: 15px; /* Inner spacing */
  background: #fff; /* White background */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
  transition: transform 0.2s ease-in-out;
}

/* Optional: Add hover effect */
.card-body:hover {
  transform: translateY(-3px); /* Slight lift effect */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.selected-crate {
  border: 2px solid #007bff; /* Blue outline */
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
  transition: background 0.3s ease-in-out;
}




.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 10px;
  // margin-bottom: 15px;
}

#slider {
  width: 60px;
  height: 25px;
  background: #ddd;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

#slider-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.slider-active {
  background: #f58355 !important;
}

.slider-active #slider-thumb {
  left: 0px !important; /* Flash Sales default */
}

#slider-thumb {
  left: 35px; /* All Crates when slider is inactive */
}





.price-container {
  display: flex; /* Align price and flash sale text in a row */
  align-items: center; /* Ensure vertical alignment */
  gap: 8px; /* Space between price and Flash Sale text */
}
