// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import"components/sidebar";

// Mapbox
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

main {
  background: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 2rem;
}


.info-window {
  width: 250px; /* Adjust width */
  max-height: 300px;
  overflow-y: auto;
}

.crate-list {
  max-height: 100px; /* Set scrollable height */
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

.crate-item {
  padding: 3px 0;
  font-size: 14px;
}
