// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import"components/sidebar";
@import "components/search";

// Mapbox
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

@import "components/map";
@import "components/crates";
@import 'pages/favourites';
@import 'pages/my_posts';
@import 'pages/my_events';
@import 'pages/my_crates';
@import 'pages/show_event';
@import 'pages/new_my_crate';


@import "components/eventshow";

main {
  background: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 2rem;
}

.info-window {
  max-width: 400px; /* Increased width for better readability */
  max-height: 500px; /* Increased height */
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.posts-avatar {
  width: 100%; /* Makes it fill the parent container */
  aspect-ratio: 1 / 1; /* Ensures the height always matches the width */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  border-radius: 50%; /* Makes it a perfect circle */
  border: 4px solid #28a745; /* Green border */
  min-width: 60px;
  max-width: 76px;
}

.red {
  background-color: red;
}
.coral {
  background-color: coral;
}
.teal {
  background-color: teal;
}
.gray {
  background-color: gray;
}
